{% for siniestrosDisable in siniestrosDisable %}
<tr>
    <td scope="row">{{siniestrosDisable.id }}</td>
    <td>{{siniestrosDisable.poliza_id_poliza }}</td>
    <td>{{siniestrosDisable.fecha_hr | date:'d-m-Y' }}</td>
    <td>{{siniestrosDisable.tipo_accidente_id_tipo_acc}}</td>


    <td>{{siniestrosDisable.taller_id_taller}}</td>
    {% if siniestrosDisable.grua_patente_grua == null %}
    <td>Sin Grúa</td>
    {% else %}
    <td>{{siniestrosDisable.grua_patente_grua}}</td>
    {% endif %}
</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center">No hay siniestros finalizados</td>
</tr>
{% endfor %}