{% extends "dashboard/base.html" %}
{% block title %}Siniestros Finalizados{% endblock title %}
{% block content %}

    <div class="d-flex justify-content-start mb-4">
        <div class="text-center">
            <a class="text-decoration-none" href="{% url 'siniestros' %}">
                <i class="fas fa-arrow-circle-left"></i> Volver
            </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Siniestros Finalizados</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center" id="table_siniestro" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">N° Siniestro</th>
                        <th scope="col">Fecha Siniestro</th>
                        <th scope="col">Rut Asegurado</th>
                        <th scope="col">N° Póliza</th>
                        <th scope="col">Tipo Accidente</th>
                        <th scope="col">Patente Grúa</th>
                        <th scope="col">Taller Asignado</th>
                        <th scope="col">Garantía</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include "dashboard/siniestros/siniestro_disabled_2.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}