{% for siniestrosDisable in siniestrosDisable %}
<tr>
    <td scope="row">{{siniestrosDisable.id }}</td>
    <td>{{siniestrosDisable.poliza_id_poliza }}</td>
    <td>{{siniestrosDisable.fecha_hr | date:'d-m-Y' }}</td>
    <td>{{siniestrosDisable.tipo_accidente_id_tipo_acc}}</td>

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 21 %}
    <td>
        <span class="badge badge-pill badge-info">EN CURSO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 22 %}
    <td>
        <span class="badge badge-pill badge-light">RECEPCIONADO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 23 %}
    <td>
        <span class="badge badge-pill badge-primary">INSPECCIONADO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 24 %}
    <td>
        <span class="badge badge-pill badge-warning">EN REPACIÓN</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 25 %}
    <td>
        <span class="badge badge-pill badge-danger">RECHAZADO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 26 %}
    <td>
        <span class="badge badge-pill badge-success">REPARADO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 27 %}
    <td>
        <span class="badge badge-pill badge-dark">FINALIZADO</span>
    </td>
    {% endif %}

    {% if siniestrosDisable.est_siniestro_id_est_siniestro.id == 28 %}
    <td>
        <span class="badge badge-pill badge-secondary">PENDIENTE</span>
    </td>
    {% endif %}

    <td>{{siniestrosDisable.taller_id_taller}}</td>
    {% if siniestrosDisable.grua_patente_grua == null %}
    <td>Sin Grúa</td>
    {% else %}
    <td>{{siniestrosDisable.grua_patente_grua}}</td>
    {% endif %}
</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center">No hay siniestros finalizados</td>
</tr>
{% endfor %}