{% for siniestros in siniestros %}
<tr>
    <td scope="row">{{siniestros.id }}</td>
    <td>{{siniestros.poliza_id_poliza }}</td>
    <td>{{siniestros.fecha_hr | date:'d-m-Y' }}</td>
    <td>{{siniestros.tipo_accidente_id_tipo_acc}}</td>

    {% if siniestros.est_siniestro_id_est_siniestro.id == 21 %}
    <td>
        <span class="badge badge-pill badge-info">EN CURSO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 22 %}
    <td>
        <span class="badge badge-pill badge-light">RECEPCIONADO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 23 %}
    <td>
        <span class="badge badge-pill badge-primary">INSPECCIONADO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 24 %}
    <td>
        <span class="badge badge-pill badge-warning">EN REPACIÓN</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 25 %}
    <td>
        <span class="badge badge-pill badge-danger">RECHAZADO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 26 %}
    <td>
        <span class="badge badge-pill badge-success">REPARADO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 27 %}
    <td>
        <span class="badge badge-pill badge-dark">FINALIZADO</span>
    </td>
    {% endif %}

    {% if siniestros.est_siniestro_id_est_siniestro.id == 28 %}
    <td>
        <span class="badge badge-pill badge-secondary">PENDIENTE</span>
    </td>
    {% endif %}

    <td>{{siniestros.taller_id_taller}}</td>
    {% if siniestros.grua_patente_grua == null %}
    <td>Sin Grúa</td>
    {% else %}
    <td>{{siniestros.grua_patente_grua}}</td>
    {% endif %}
    {% if  request.user.is_staff %}
    <td>
        <div class="dropdown">
            <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button class="show_siniestro_update dropdown-item"
                    data-url="{% url 'siniestro_update' siniestros.id %}">
                    Modificar Siniestro</button>
                <button class="show_siniestro_delete dropdown-item"
                    data-url="{% url 'siniestro_delete' siniestros.id %}">
                    Eliminar Siniestro</button>
            </div>
        </div>
    </td>
    {% endif %}
</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center">No hay siniestros</td>
</tr>
{% endfor %}