{% extends "dashboard/base.html" %}
{% block title %}Módulo Servicios Grúas{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-between mb-4">
        <div class="mr-1">
            <a class="text-decoration-none text-light mr-3" href="{% url 'servicio_grua_disabled' %}">
                <button class="btn btn-sm btn-danger shadow-sm">
                    <i class="fas fa-route fa-sm text-white-50"></i> Servicios de Grúas Inactivos
                <span class="badge badge-light">{{servGruasDisable.dcount}}</span>
                </button>
            </a>
            <a class="text-decoration-none text-light" href="{% url 'gruas' %}">
                <button class="btn btn-sm btn-success shadow-sm">
                    <i class="fas fa-route fa-sm text-white-50"></i> Ver Grúas
                </button>
            </a>
        </div>
        <div class="ml-1">
            <button class="btn btn-sm btn-primary shadow-sm show_servicio_grua" data-url="{% url 'servicio_grua_create' %}">
                <i class="fas fa-route fa-sm text-white-50"></i> Registrar Servicio Grúa
            </button>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Servicios de Grúas</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center" id="table_servicio_grua" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">N° Servicio Grúa</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Razon Social</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        {% if request.user.is_staff %}
                            <th scope="col">Opciones</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for servicios_grua in servicios_gruas %}
                        <tr>
                            <th scope="row">{{ servicios_grua.id }}</th>
                            <td>{{ servicios_grua.nombre }}</td>
                            <td>{{ servicios_grua.razon_social }}</td>
                            <td>+56{{ servicios_grua.telefono }}</td>
                            <td>{{ servicios_grua.correo }}</td>
                            {% if request.user.is_staff %}
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <button class="show_servicio_update dropdown-item"
                                                    data-url="{% url 'servicio_grua_update' servicios_grua.id %}">
                                                Modificar
                                            </button>
                                            <button class="show_servicio_delete dropdown-item"
                                                    data-url="{% url 'servicio_grua_delete' servicios_grua.id %}">
                                                Eliminar
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No hay Servicios de Grúas</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_servicio_grua" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>

    </div>

{% endblock %}