{% load static %}
<form action="" class="vehiculo_form needs-validation" method="POST" data-url="{% url 'vehiculo_create' asegurado.rut_asegurado %}">
    {% csrf_token %}
    <div class="modal-header bg-success">
        <h5 class="modal-title text-light">Registrar Vehículos</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>PATENTE</span>
                </div>
                {{ form.patente_vehiculo }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_patente"></div>
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>MODELO</span>
                </div>
                {{ form.modelo }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_modelo"></div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>N° MOTOR</span>
                </div>
                {{ form.nro_motor }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_motor"></div>
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>AÑO</span>
                </div>
                {{ form.anio }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_anio"></div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>MARCA</span>
                </div>
                {{ form.marca_id_marca }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_marca"></div>
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>TIPO VEHÍCULO</span>
                </div>
                {{ form.tipo_vehiculo_id_tipo_auto }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_tipo"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" id="bEnviar">Crear</button>
    </div>
</form>
{% block script %}
<script src="{% static 'dashboard/js/validar_vehiculo.js' %}"></script>
<script src="{% static 'dashboard/js/formato_patente.js' %}"></script>
{% endblock script %}
