{% for usuario in usuarios %}
<tr>
    <th scope="row">{{ usuario.rut_usuario }}</th>
    <td>{{ usuario.primer_nombre }}</td>
    <td>{{ usuario.primer_apellido }}</td>
    <td>{{ usuario.email }}</td>
    <td>+56{{ usuario.telefono }}</td>
    {% if usuario.rol == '1' %}
    <td>
        <span class="badge badge-pill badge-info">MESA DE AYUDA</span>
    </td>
    {% endif %}

    {% if usuario.rol == '2' %}
    <td>
        <span class="badge badge-pill badge-success">LIQUIDADOR </span>
    </td>
    {% endif %}

    {% if usuario.rol == '3' %}
    <td>
        <span class="badge badge-pill badge-danger">PERSONAL TALLER </span>
    </td>
    {% endif %}

    {% if usuario.rol == '4' %}
    <td>
        <span class="badge badge-pill badge-warning">PERSONAL GRÚA </span>
    </td>
    {% endif %}

    <td>
        <div class="dropdown">
            <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button class="show_usuario_update dropdown-item" data-url="{% url 'usuario_update' usuario.id %}">
                    Editar Usuario</button>
                {% if  not usuario.is_administrador %}
                <button class="show_usuario_delete dropdown-item" data-url="{% url 'usuario_delete' usuario.id %}">
                    Eliminar Usuario</button>
                {% endif %}
            </div>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning">No hay Usuarios</td>
</tr>
{% endfor %}