{% extends "dashboard/base.html" %}
{% block title %}Usuarios Inactivos{% endblock title %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-start mb-4">
    <div class="text-center d-none d-md-inline">
        <a class="text-decoration-none" href="{% url 'usuarios' %}">
            <i class="fas fa-arrow-circle-left"></i> Volver
        </a>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Usuarios Inactivos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_usuario_disabled" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "registration/usuarios/usuario_disabled_2.html" %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal_usuario_disabled" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

{% endblock %}