{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'taller/css/style_pdf.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="my-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center" id="table_vehiculo" width="100%" cellspacing="0">
                        <thead class="bg-acta-rechazo">
                            <tr>
                                <th scope="col">ACTA RECHAZO</th>
                                <th scope="col">FECHA: {{ dato.0.5 | date:'d/m/Y' }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="table_vehiculo" width="100%" cellspacing="0">
                        <thead>
                            <div class="text-center mb-3">
                                <h5>DATOS RECEPCIÓN</h5>
                            </div>
                            <tr>
                                <th scope="col">Nº Registro</th>
                                <th scope="col">N° Siniestro</th>
                                <th scope="col">Taller Recepción</th>
                                <th scope="col">Patente Grúa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{dato.0.4}}</th>
                                <td>{{dato.0.20}}</td>
                                <td>{{dato.0.15}}</td>
                                {% if dato.0.1 == null %}
                                <td>SIN GRÚA</td>
                                {% else %}
                                <td>{{dato.0.1}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="table_vehiculo" width="100%" cellspacing="0">
                        <thead>
                            <div class="text-center mb-3">
                                <h5>DATOS VEHÍCULO</h5>
                            </div>
                            <tr>
                                <th scope="col">Nº Póliza</th>
                                <th scope="col">Patente Vehículo</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Año</th>
                                <th scope="col">Nº Motor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{dato.0.2}}</th>
                                <td>{{dato.0.7}}</td>
                                <td>{{dato.0.19}}</td>
                                <td>{{dato.0.8}}</td>
                                <td>{{dato.0.9}}</td>
                                <td>{{dato.0.10}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="table_vehiculo" width="100%" cellspacing="0">
                        <thead>
                            <div class="text-center mb-3">
                                <h5>DATOS ASEGURADO</h5>
                            </div>
                            <tr>
                                <th scope="col">RUT</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo Electrónico</th>
                                <th scope="col">Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{dato.0.3}}</th>
                                <td>{{dato.0.11}} {{dato.0.12}}</td>
                                <td>{{dato.0.13}}</td>
                                <td>+56 {{dato.0.14}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="table_vehiculo" width="100%" cellspacing="0">
                        <thead>
                            <div class="text-center mb-3">
                                <h5>OBSERVACIONES</h5>
                            </div>
                            <tr>
                                <th scope="col">Motivo de Rechazo</th>
                                <th scope="col">Descripción Accidente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{dato.0.6}}</td>
                                <td>{{dato.0.0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <footer class="sticky-footer mt-5">
                <div class="text-center my-auto">
                    <span><strong>{{ dato.0.15 }} - {{ dato.0.16 }} </strong></span>
                    <br>
                    <span class="mt-2">Teléfono: +56 {{ dato.0.17 }}</span>
                    <br>
                    <span class="mt-2">{{ dato.0.18 }}</span>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>