{% for asegurados in asegurados %}
<tr>
    <th scope="row">{{ asegurados.rut_asegurado }}</th>
    <td>{{asegurados.primer_nombre}} {{asegurados.primer_apellido}} {{asegurados.segundo_apeliido}}</td>
    <td>{{asegurados.direccion}}</td>
    <td>{{asegurados.comuna_id_comuna}}</td>
    <td>{{asegurados.correo}}</td>
    <td>+56{{asegurados.telefono}}</td>
    <td>{{asegurados.fecha_nacimiento|date:'d-m-Y'}}</td>
    <td>
        <div class="dropdown">
            <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button class="dropdown-item show-vehiculo" data-url="{% url 'vehiculo_create' asegurados.rut_asegurado %}">
                    Agregar Vehículo</button>
                <a class=" dropdown-item" href="{% url 'vehiculos' asegurados.rut_asegurado %}">
                        Ver Vehículos</a>
                <button class="show_asegurado_update dropdown-item"
                    data-url="{% url 'asegurado_update' asegurados.rut_asegurado %}">
                    Editar Asegurado</button>
                <button class="show_asegurado_delete dropdown-item"
                    data-url="{% url 'asegurado_delete' asegurados.rut_asegurado %}">
                    Desactivar Asegurado</button> 
            </div>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="10" class="text-center">No hay Asegurados</td>
</tr>
{% endfor %}