{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'dashboard/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dashboard/css/style2.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <title>Consulta Estado Siniestro</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row mt-2">
            <div class="text-center d-none d-md-inline">
                <a class="text-decoration-none" href="{% url 'login' %}">
                    <i class="fas fa-arrow-circle-left"></i> Volver
                </a>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="card shadow-sm mt-5">
                <div class="card-header">
                    <div class="text-center">
                        <h3 class="card-title">Consultar Estado Siniestro</h3>
                        <span>Completa los campos para ver el estado de tu siniestro</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="mx-5 clearfix">
                        <form action="" method="GET" class="needs-validation">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <div class="col-form-label">
                                        <span>RUT</span>
                                    </div>
                                    <input type="text" class="form-control" name="rut_asegurado"
                                        placeholder="Ingresa tu rut" required oninput="checkRut(this)"
                                        pattern="^[0-9]{7,9}[-|‐]{1}[0-9kK]{1}$" maxlength="10" id="rut_asegurado" />
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback" id="error_rut"></div>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <div class="col-form-label">
                                        <span>N° DE PÓLIZA</span>
                                    </div>
                                    <input type="number" class="form-control" name="n_poliza"
                                        placeholder="Ingresa n° de póliza" required id="poliza_consulta" />
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback" id="error_pol"></div>
                                </div>
                            </div>
                            <div class="justify-content-center d-flex my-4">
                                <button type="submit" id="searchSiniestro"
                                    class="d-none d-sm-inline-block btn btn-success shadow-sm">
                                    <i class="fas fa-search fa-sm text-white-50"></i> Consultar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="table-responsive col-6">
                <table class="table table-bordered table-hover text-center" id="table_asegurado" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">N° Siniestro</th>
                            <th scope="col">Estado Siniestro</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for siniestros in siniestros %}
                        <tr>
                            <th scope="row">{{siniestros.id}}</th>
                            {% if siniestros.est_siniestro_id_est_siniestro.id == 1 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-info">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 2 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-light">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 3 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-primary">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 4 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-warning">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 5 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-danger">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 6 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-success">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 7 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-dark">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}

                            {% if siniestros.est_siniestro_id_est_siniestro.id == 8 %}
                            <td>
                                <span
                                    class="badge badge-pill badge-secondary">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                            </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'asegurado_adjunta' siniestros.id %}">
                                    <button class="btn btn-sm btn-outline-dark">
                                        <i class="fas fa-upload"></i> Adjuntar Documentos
                                    </button>
                                </a>
                                <a href="{% url 'consultaSiniestroDetalleView' pk=siniestros.id %}">
                                    <button class=" btn btn-sm btn-outline-dark">
                                        <i class="fas fa-file-alt"></i> Ver Detalles
                                    </button>
                                </a>
                                <a href="{% url 'siniestroDetallePdf' pk=siniestros.id %}">
                                    <button class=" btn btn-sm btn-outline-dark">
                                        <i class="fas fa-file-pdf"></i> Exportar PDF
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No hay Coincidencias</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script src="{% static 'dashboard/js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/formato_rut.js' %}"></script>
    <script type="text/javascript">
        window.onload = iniciar();

        function iniciar() {
            document.getElementById("searchSiniestro").addEventListener('click', validar, false);
            document.getElementById("rut_asegurado").addEventListener('keyup', validaRut);
            document.getElementById("poliza_consulta").addEventListener('keyup', validaPoliza);


        }

        function validaRut() {
            var elemento = document.getElementById("rut_asegurado");
            if (!elemento.checkValidity()) {
                if (elemento.validity.valueMissing) {
                    error_rut(elemento, "Debe introducir un Rut");
                }
                if (elemento.validity.patternMismatch) {
                    error_rut(elemento, "Debe ingresar un Rut válido");
                }
                return false;
            }
            clear_error_rut(elemento);
            return true;

        }

        function error_rut(elemento, mensaje) {
            document.getElementById("error_rut").innerHTML = mensaje;
            elemento.className = "form-control is-invalid";
        }

        function clear_error_rut(elemento) {
            document.getElementById("error_rut").innerHTML = "";
            elemento.className = "form-control is-valid";
        }


        function validaPoliza() {
            var elemento = document.getElementById("poliza_consulta");
            if (!elemento.checkValidity()) {
                if (elemento.validity.valueMissing) {
                    error_pol(elemento, "Debe introducir un n° de póliza");
                }
                return false;
            }
            clear_error_pol(elemento);
            return true;

        }

        function error_pol(elemento, mensaje) {
            document.getElementById("error_pol").innerHTML = mensaje;
            elemento.className = "form-control is-invalid";
        }

        function clear_error_pol(elemento) {
            document.getElementById("error_pol").innerHTML = "";
            elemento.className = "form-control is-valid";
        }

        function validar(e) {
            if (validaRut() && validaPoliza()) {
                return true
            } else {
                e.preventDefault();
                return false;
            }
        }
    </script>

</body>

</html>