{% extends "dashboard/base.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-end mb-4">
    <button class="show-asegurado d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm "
        data-url="{% url 'asegurado_create' %}">
        <i class="fas fa-user-shield fa-sm text-white-50"></i> Registrar Asegurado</button>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Asegurados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_asegurado" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">RUT</th>
                        <th scope="col">Primer Nombre</th>
                        <th scope="col">Segundo Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "dashboard/asegurados/asegurado_2.html" %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal_asegurado" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

{% endblock %}