{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'taller/css/style_pdf.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

</head>

<body class="container">
    <div class="mx-5 mt-3">
        <table class="table">
            <tr class="row">
                <td class="col-6">
                    <h5>
                        <img src="{% static 'dashboard/img/seguro-icon.png' %}" alt=""
                            style="width: 50px; height: 50px;">DETALLER PRESUPUESTO
                    </h5>
                </td>
                <td class="col-6 d-flex justify-content-end">
                    <span>{{ dato.0.1 | date:'d/m/Y' }}</span>
                </td>
            </tr>
        </table>
        <hr>

        <h5>DATOS ASEGURADO</h5>
        <hr>
        <div class="row">
            <div class="col-12">
                <h6>Número Siniestro: {{dato.0.5}}</h6>
                <h6>Número Informe: {{dato.0.4}}</h6>
                <h6>Patente Vehículo: {{dato.0.6}}</h6>
                {% if dato.0.3 == 3 %}
                <h6>Estado Presupuesto: Pendiente</h6>
                {% endif %}
                {% if dato.0.3 == 2 %}
                <h6>Estado Presupuesto: Rechazado</h6>
                {% endif %}
                {% if dato.0.3  == 1 %}
                <h6>Estado Presupuesto: Aprobado</h6>
                {% endif %}
                <h6>Observaciones: {{dato.0.7}}</h6>
            </div>
        </div>
        <hr>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="table_vehiculo" width="100%" cellspacing="0">
                    <thead>
                        <div class="text-center mb-3">
                            <h5>COSTOS</h5>
                        </div>
                        <tr>
                            <th scope="col">Tipo daño</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Severidad Daño</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Mano de obra</th>
                            <th scope="col">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>{{ dato.0.9 }}</td>
                            <td>{{ dato.0.10 }}</td>
                            {% if dato.0.13 == "BAJO" %}
                            <td>
                                <span class="badge badge-pill badge-success">BAJO</span>
                            </td>
                            {% endif %}
                            {% if dato.0.13 == "MODERADO" %}
                            <td>
                                <span class="badge badge-pill badge-primary">MODERADO</span>
                            </td>
                            {% endif %}
                            {% if dato.0.13  == "MEDIO" %}
                            <td>
                                <span class="badge badge-pill badge-info">MEDIO</span>
                            </td>
                            {% endif %}
                            {% if dato.0.13  == "ALTO" %}
                            <td>
                                <span class="badge badge-pill badge-warning">ALTO</span>
                            </td>
                            {% endif %}
                            {% if dato.0.13  == "CRÍTICO" %}
                            <td>
                                <span class="badge badge-pill badge-danger">CRÍTICO</span>
                            </td>
                            {% endif %}
                            <td><strong>$</strong>{{ dato.0.11 }}</td>
                            <td><strong>$</strong>{{ dato.0.12 }}</td>
                            <td><strong>$</strong>{{ dato.0.2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <footer class="sticky-footer mt-5">
        <div class="text-center">
            <span>Presupuesto realizado por: <strong>{{ dato.0.8 }} </strong></span>

        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>