{% extends "dashboard/base.html" %}
{% block title %}Módulo Siniestro{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-between mb-4">
        <div class="mr-1">
            <a class="text-decoration-none text-light" href="{% url 'siniestros_disabled_liquidador' %}">
                <button class="btn btn-sm btn-danger shadow-sm">
                    <i class="fas fa-file-invoice fa-sm text-white-50"></i> Siniestros Finalizados
                </button>
            </a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Siniestros</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center" id="table_siniestro" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">N° Siniestro</th>
                        <th scope="col">Fecha Siniestro</th>
                        <th scope="col">Rut Asegurado</th>
                        <th scope="col">N° Póliza</th>
                        <th scope="col">Tipo Accidente</th>
                        <th scope="col">Patente Grúa</th>
                        <th scope="col">Taller Asignado</th>
                        <th scope="col">Garantía</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for siniestro in siniestros %}
                        <tr>
                            <th scope="row">{{ siniestro.id }}</th>
                            <td>{{ siniestro.fecha_hr | date:'d-m-Y' }}</td>
                            <td>{{ siniestro.asegurado_rut_asegurado }}</td>
                            <td>{{ siniestro.poliza_id_poliza }}</td>
                            <td>{{ siniestro.tipo_accidente_id_tipo_acc }}</td>
                            {% if siniestro.grua_patente_grua == null %}
                                <td>SIN GRÚA</td>
                            {% else %}
                                <td>{{ siniestro.grua_patente_grua }}</td>
                            {% endif %}
                            <td>{{ siniestro.taller_id_taller }}</td>
                            {% if siniestro.poliza_id_poliza.tipo_plan_id_tip_plan.garantia %}
                                {% if siniestro.garantia %}
                                    <td>
                                        <span class="badge badge-pill badge-success">ACTIVA</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span class="badge badge-pill badge-danger">INACTIVA</span>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>
                                    <span class="badge badge-pill badge-warning">NO APLICA</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 1 %}
                                <td>
                                    <span class="badge badge-pill badge-info">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 2 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-light">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 3 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-primary">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 4 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-warning">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 5 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-danger">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 6 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-success">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 7 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-dark">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                            {% if siniestro.est_siniestro_id_est_siniestro.id == 8 %}
                                <td>
                            <span
                                    class="badge badge-pill badge-secondary">{{ siniestro.est_siniestro_id_est_siniestro }}</span>
                                </td>
                            {% endif %}

                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">No hay siniestros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}