{% load static %}

<form action="" class="create_form_info_dano needs-validation" method="POST"
    data-url="{% url 'informe_daños_create' siniestro_id.id %}">
    {% csrf_token %}
    <div class="modal-header bg-success">
        <h5 class="modal-title text-light">Generar Informe de Daños</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>TIPO DAÑO</span>
                </div>
                {{ form.tipo_dano_id_tipo_dano }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_tipo_dano"></div>
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>SEVERIDAD DAÑO</span>
                </div>
                {{ form.severidad_dano_id_seve_dano }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_sev_danos"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="col-form-label">
                    <span>OBSERVACIONES</span>
                </div>
                {{ form.observaciones }}
                <div class="valid-feedback"></div>
                <div class="invalid-feedback" id="error_observaciones"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" id="bEnviar">Generar</button>
    </div>
</form>

{% block script %}
<script src="{% static 'dashboard/js/validar_informes.js' %}"></script>
{% endblock script %}