{% extends "dashboard/base.html" %}
{% block title %}Informe de Daños{% endblock title %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Siniestros Recepcionados</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_siniestro" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">N° Siniestro</th>
                        <th scope="col">N° Póliza</th>
                        <th scope="col">Fecha Siniestro</th>
                        <th scope="col">Tipo Accidente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Rut Asegurado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for siniestros in siniestros %}
                    <tr>
                        <th scope="row">{{siniestros.id }}</th>
                        <td>{{siniestros.poliza_id_poliza }}</td>
                        <td>{{siniestros.fecha_hr | date:'d-m-Y' }}</td>
                        <td>{{siniestros.tipo_accidente_id_tipo_acc}}</td>
                        <td>
                            <span
                                class="badge badge-pill badge-light">{{siniestros.est_siniestro_id_est_siniestro}}</span>
                        </td>
                        <td>{{siniestros.asegurado_rut_asegurado}}</td>
                        <td>
                            <div class="dropdown">
                                <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <button class="dropdown-item" data-url="#">
                                        Generar Informe</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No hay siniestros</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}