{% extends "dashboard/base.html" %}
{% block title %}Pólizas Inactivas{% endblock title %}
{% block content %}
<div class="d-flex justify-content-start mb-4">
    <div class="text-center">
        <a class="text-decoration-none" href="{% url 'polizas' %}">
            <i class="fas fa-arrow-circle-left"></i> Volver
        </a>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pólizas Inactivas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_poliza_disabled" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">N° Póliza</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Término</th>
                        <th scope="col">RUT Asegurado</th>
                        <th scope="col">Patente Vehículo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "dashboard/polizas/poliza_disabled_2.html" %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_poliza_disabled" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>

    </div>
</div>


{% endblock %}