<form action="" class="delete_form_poliza" method="POST" data-url="{% url 'poliza_delete' poliza.id_poliza %}">
    {% csrf_token %}

    <div class="modal-header bg-danger">
        <h5 class="modal-title text-light">Eliminar Póliza</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <h4>¿Seguro que deseas eliminar la póliza n° <strong>{{poliza.id_poliza}}</strong>?</h4>
                <br>
            </div>
            <div class="col-12">
                <p class="lead">Rut Asegurado: <strong>{{poliza.asegurado_rut_asegurado}}</strong></p>
                <p class="lead">Patente Vehículo: <strong>{{poliza.vehiculo_patente_vehiculo}}</strong></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
    </div>
</form>