{% load static %}
<form action="" class="create_form_polizas needs-validation" method="POST" data-url="{% url 'poliza_create' %}">
  {% csrf_token %}


  <div class="modal-header bg-success">
    <h5 class="modal-title text-light">Crear Póliza</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      {{form.id}}
      {{form.vigente}}
      <div class="form-group col-12 col-md-6">
        <div class="col-form-label">
          <span>FECHA INICIO</span>
        </div>
        {{ form.fecha_inicio }}
      </div>
      <div class="form-group col-12 col-md-6">
        <div class="col-form-label">
          <span>FECHA TERMINO</span>
        </div>
        {{ form.fecha_fin }}
        <div class="valid-feedback"></div>
        <div class="invalid-feedback" id="error_fin"></div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12 col-md-6">
        <div class="col-form-label">
          <span>RUT ASEGURADO</span>
        </div>
        {{ form.asegurado_rut_asegurado }}
        <div class="valid-feedback"></div>
        <div class="invalid-feedback" id="error_rut"></div>
      </div>
      <div class="form-group col-12 col-md-6">
        <div class="col-form-label">
          <span>PATENTE VEHÍCULO</span>
        </div>
        {{ form.vehiculo_patente_vehiculo }}
        <div class="valid-feedback"></div>
        <div class="invalid-feedback" id="error_patente"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <div class="col-form-label">
          <span>TIPO PLAN</span>
        </div>
        {{ form.tipo_plan_id_tip_plan }}
        <div class="valid-feedback"></div>
        <div class="invalid-feedback" id="error_plan"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-outline-success " id="bEnviar">Crear</button>
  </div>
</form>
<script>
  $('#fecha_fin').datepicker({
    format: "dd/mm/yyyy",
    clearBtn: true,
    startDate: '+363d',
    autoclose: true,
    language: "es"
  });
</script>
<script type="text/javascript">

  function cargarPatentes() {
    var rut = document.getElementById('poli_rut_asegurado').value;
    if (rut != null) {
      var request = $.ajax({
        type: 'GET',
        url: "{%  url 'load_patentes' %}",
        data: { "rut": rut },
      });
      request.done(function (response) {
        // Agregamos los resultados al select
        $("#poli_patente").html(response.patentes);
        document.getElementById("poli_patente").disabled = false;
        $("#poli_patente").trigger("change");
      });
    }
  }
</script>
{% block script %}
<script src="{% static 'dashboard/js/validar_poliza.js' %}"></script>
{% endblock script %}