{% extends "dashboard/base.html" %}
{% block title %}Módulo Póliza{% endblock title %}
{% block content %}
<a class="text-decoration-none text-light" href="{% url 'poliza_disabled' %}">
    <button type="button" class="float-left d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-file-contract fa-sm text-white-50"></i> Pólizas Inactivas
    </button>
</a>

<div class="d-sm-flex align-items-center justify-content-end mb-4">
    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm show_poliza"
        data-url="{% url 'poliza_create' %}">
        <i class="fas fa-file-contract fa-sm text-white-50"></i> Crear Póliza
    </button>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pólizas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_poliza" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">N° Póliza</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Término</th>
                        <th scope="col">RUT Asegurado</th>
                        <th scope="col">Patente Vehículo</th>
                        {% if  request.user.is_staff %}
                        <th scope="col">Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for polizas in polizas %}
                        <tr>
                            <th scope="row">{{ polizas.id }}</th>
                            {% if polizas.vigente == '1' %}
                                <td>
                                    <span class="badge badge-pill badge-success">VIGENTE</span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="badge badge-pill badge-danger">NO VIGENTE</span>
                                </td>
                            {% endif %}
                            <td>{{ polizas.fecha_inicio | date:'d-m-Y' }}</td>
                            <td>{{ polizas.fecha_fin | date:'d-m-Y' }}</td>
                            <td>{{ polizas.asegurado_rut_asegurado.rut_asegurado }}</td>
                            <td>{{ polizas.vehiculo_patente_vehiculo }}</td>
                            {% if request.user.is_staff %}
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            {% if polizas.vigente == '0' %}
                                            <button class="show_poliza_update dropdown-item"
                                                    data-url="{% url 'poliza_update' polizas.id %}">
                                                Revalidar Póliza
                                            </button>
                                            {% endif %}
                                            <button class="show_poliza_delete dropdown-item"
                                                    data-url="{% url 'poliza_delete' polizas.id %}">
                                                Desactivar Póliza
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">No hay pólizas</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_poliza" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

{% endblock %}