{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'dashboard/img/favicon.ico' %}" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap/bootstrap-datepicker.standalone.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.structure.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/toastr/toastr.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/js/datatables/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="https://unpkg.com/imask"></script>

    <title>{% block title %}{% endblock title %}</title>

</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'dashboard/img/seguro-icon.png' %}" width="50" height="50"
                        class="d-inline-block align-top" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">Seguros Virgolini</div>
            </a>

            {% if  request.user.rol == '1' %}
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-chart-pie"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Asegurados
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse"
                    data-target="#collapseAsegurado" aria-expanded="true" aria-controls="collapseAsegurado">
                    <i class="fas fa-user-shield"></i>
                    <span>Asegurados</span>
                </a>
                <div id="collapseAsegurado" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'asegurados' %}">Asegurados</a>
                        <a class="collapse-item" href="{% url 'vehiculos' %}">Vehículos</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Pólizas
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'polizas' %}">
                    <i class="fas fa-file-contract"></i>
                    <span>Pólizas</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Siniestros
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'siniestros' %}">
                    <i class="fas fa-car-crash"></i>
                    <span>Siniestros</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Taller
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'taller' %}">
                    <i class="fas fa-tools"></i>
                    <span>Taller</span>
                </a>

            </li>
            <hr class="sidebar-divider">
            {% endif %}

            {% if  request.user.is_staff %}
            <div class="sidebar-heading">
                Módulo Usuarios
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios' %}">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            {% endif %}

            <!-- Taller -->
            {% if  request.user.rol == '3' %}
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-chart-pie"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Actas
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse"
                    data-target="#collapseActas" aria-expanded="true" aria-controls="collapseActas">
                    <i class="far fa-file-alt"></i>
                    <span>Generar Actas</span>
                </a>
                <div id="collapseActas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'siniestro_recepcion' %}">Recepción</a>
                        <a class="collapse-item" href="{% url 'siniestro_retiro' %}">Retiro / Rechazo</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse"
                    data-target="#collapseActasList" aria-expanded="true" aria-controls="collapseActasList">
                    <i class="fas fa-archive"></i>
                    <span>Ver Actas</span>
                </a>
                <div id="collapseActasList" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'acta_recepcion' %}">Recepción</a>
                        <a class="collapse-item" href="{% url 'acta_retiro' %}">Retiro</a>
                        <a class="collapse-item" href="{% url 'acta_rechazo' %}">Rechazo</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Informes
            </div>

            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'informe_daños' %}">
                    <i class="fas fa-notes-medical"></i>
                    <span>Informe de Daños</span>
                </a>
            </li>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Presupuesto
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'presupuesto' %}">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Generar Presupuesto</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            {% endif %}

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white-600">{{request.user.primer_nombre}}
                                </span>
                                {% if  request.user.is_staff %}
                                <i class="fas fa-user-cog"></i>
                                {% else %}
                                <i class="fas fa-user"></i>
                                {% endif %}
                            </a>
                            {% if not request.user.is_staff %}
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                            {% else %}
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'admin:login' %}">
                                    <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Adminstrador
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>

                </nav>

                {% block script %} {% endblock script %}

                <div class="container-fluid">

                    {% block content %} {% endblock content %}

                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2020-2021 <strong>Seguros Virgolini</strong></span>
                        <br>
                        <div class="mt-2"><strong>Versión 2.0</strong></div>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Presiona "Salir" para cerrar sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-outline-dark" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'dashboard/js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap-datepicker.es.min.js' %}"></script>
    <script src="{% static 'dashboard/js/moment-with-locales.min.js' %}"></script>

    <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'dashboard/js/script_dashboard.js' %}"></script>
    <script src="{% static 'taller/js/script_taller.js' %}"></script>
    <script src="{% static 'dashboard/js/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- DataTables -->
    <script src="{% static 'dashboard/js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dashboard/js/datatables/datatable.js' %}"></script>

</body>

</html>