{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/toastr/toastr.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/js/datatables/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <title>Seguros Virgolini</title>

</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'dashboard/img/seguro-icon.png' %}" width="50" height="50"
                        class="d-inline-block align-top" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">Seguros Virgolini</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Usuarios
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios' %}">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Asegurados
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse" data-target="#collapseAsegurado"
                    aria-expanded="true" aria-controls="collapseAsegurado">
                    <i class="fas fa-user-shield"></i>
                    <span>Asegurados</span>
                </a>
                <div id="collapseAsegurado" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'asegurados' %}">Asegurados</a>
                        <a class="collapse-item" href="{% url 'vehiculos' %}">Vehículos</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Pólizas
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'polizas' %}">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Pólizas</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Siniestros
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'siniestros' %}">
                    <i class="fas fa-car-crash"></i>
                    <span>Siniestros</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo Taller
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'taller' %}">
                    <i class="fas fa-tools"></i>
                    <span>Taller</span>
                </a>

            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white-600 small">USER</span>
                                <i class="far fa-user"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Editar Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>

                <div class="container-fluid">

                    {% block content %} {% endblock content %}

                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; JDF 2020</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que deseas salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Presiona "Salir" para cerrar sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="#">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'dashboard/js/script.js' %}"></script>
    <script src="{% static 'dashboard/js/toastr/toastr.min.js' %}"></script>

    <!-- DataTables -->
    <script src="{% static 'dashboard/js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dashboard/js/datatables/datatable.js' %}"></script>

    <!-- Charts -->
    <script src="{% static 'dashboard/js/charts/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/js/charts/chart-area.js' %}"></script>
    <script src="{% static 'dashboard/js/charts/chart-pie.js' %}"></script>
    <script src="{% static 'dashboard/js/charts/chart-bar.js' %}"></script>

</body>

</html>