{% extends "dashboard/base.html" %} 
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-md-7 col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Tipos de accidentes
                </h6>
            </div>
            <div class="card-body">
                <canvas id="BarChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Estado siniestros</h6>
            </div>
            <div class="card-body">
                <canvas id="PieChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row"></div>

{% endblock content %} {% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var ctx = document.getElementById('BarChart').getContext('2d');
        var BarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for item in qs1 %}
                        {% if item.tipo_accidente_id_tipo_acc == 1 %}
                            "DAÑOS AL VEHÍCULO"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 2 %}
                            "ROBO, HURTO O USO NO AUTORIZADO"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 3 %}
                            "RESPONSABILIDAD CIVIL"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 4 %}
                            "ROBO DE ACCESORIOS"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 5 %}
                            "ACTOS MALICIOSOS"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 6 %}
                            "RIESGOS DE LA NATURALEZA"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 7 %}
                            "HUELGA Y TERRORISMO"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 8 %}
                            "CAUSADOS POR LA PROPIA CARGA"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 9 %}
                            "CAUSADOS A TERCEROS"
                        {% endif %}
                        {% if item.tipo_accidente_id_tipo_acc == 10 %}
                            "DEFENSA PENAL Y CONSTITUCIÓN DE FIANZAS"
                        {% endif %}
                    , {% endfor %}
                ],
                datasets: [{
                    label: "Total",
                    data: [{% for item in qs1 %}'{{item.dcount}}', {% endfor %}],
                    barPercentage: 0.5,
                    barThickness: 6,
                    maxBarThickness: 8,
                    minBarLength: 2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                }],
            },
            options: {
                layout: {
                    padding: {
                        left: 35,
                        right: 35,
                        top: 10,
                        bottom: 15,
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Tipos de accidentes más frecuentes'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                    }]
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var ctx = document.getElementById("PieChart").getContext('2d');
        var PieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for item in qs2 %}
                        {% if item.est_siniestro_id_est_siniestro == 1 %}
                            "EN CURSO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 2 %}
                            "RECEPCIONADO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 3 %}
                            "INSPECCIONADO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 4 %}
                            "EN REPARACIÓN"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 5 %}
                            "RECHAZADO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 6 %}
                            "REPARADO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 7 %}
                            "FINALIZADO"
                        {% endif %}
                        {% if item.est_siniestro_id_est_siniestro == 8 %}
                            "PENDIENTE"
                        {% endif %}
                    , {% endfor %}
                ],
                datasets: [{
                    data: [{% for item in qs2 %}'{{item.dcount}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                }],
            },
            options: {
                layout: {
                    padding: {
                        left: 30,
                        right: 30,
                        top: 10,
                        bottom: 10,
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: true,
                    position: 'bottom',
                },
                title: {
                    display: true,
                    text: 'Estado actual de los siniestros'
                },
            },
        });
    });
</script>
{% endblock script %}