{% extends "dashboard/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

    {% if  request.user.rol == '1' %}
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="text-center">
                    <h3>Bienvenido <strong>{{ request.user.primer_nombre }} {{ request.user.primer_apellido }}</strong>
                    </h3>
                    <a class="text-decoration-none" href="javascript:void(0)">{{ request.user.email }}</a>
                    <hr>
                    <span>Última conexión: {{ request.user.last_login }}</span>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-body">
                <div class="text-center">
                    <h3>Tablas de Registros</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5 ">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Asegurados</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_asegurado"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre Asegurado</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_asegurados in reg_asegurados %}
                                <tr>
                                    <th scope="row">{{ reg_asegurados.id }}</th>
                                    <td>{{ reg_asegurados.fecha_hora | date:'Y-m-d  h:m:s a' }}</td>
                                    <td>{{ reg_asegurados.nombre_asegurado }}</td>
                                    <td>{{ reg_asegurados.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_asegurados.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_asegurados.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_asegurados.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_asegurados.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Asegurados</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Vehículos</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_vehiculo" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Patente</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_vehiculos in reg_vehiculos %}
                                <tr>
                                    <th scope="row">{{ reg_vehiculos.id }}</th>
                                    <td>{{ reg_vehiculos.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_vehiculos.patente_vehiculo }}</td>
                                    <td>{{ reg_vehiculos.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_vehiculos.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_vehiculos.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_vehiculos.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_vehiculos.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Vehículos</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Pólizas</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_poliza" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Póliza</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_polizas in reg_polizas %}
                                <tr>
                                    <th scope="row">{{ reg_polizas.id }}</th>
                                    <td>{{ reg_polizas.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_polizas.nro_poliza }}</td>
                                    <td>{{ reg_polizas.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_polizas.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_polizas.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_polizas.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_polizas.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Pólizas</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Siniestros</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_siniestro"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Siniestro</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_siniestros in reg_siniestros %}
                                <tr>
                                    <th scope="row">{{ reg_siniestros.id }}</th>
                                    <td>{{ reg_siniestros.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_siniestros.id_siniestro }}</td>
                                    <td>{{ reg_siniestros.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_siniestros.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_siniestros.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_siniestros.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_siniestros.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Siniestros</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Talleres</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_taller" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre Taller</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_talleres in reg_talleres %}
                                <tr>
                                    <th scope="row">{{ reg_talleres.id }}</th>
                                    <td>{{ reg_talleres.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_talleres.nombre_taller }}</td>
                                    <td>{{ reg_talleres.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_talleres.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_talleres.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_talleres.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_talleres.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Talleres</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Usuarios</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_usuario" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Rol Usuario</th>
                                <th scope="col">Nombre Registrador</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_usuarios in reg_usuarios %}
                                <tr>
                                    <th scope="row">{{ reg_usuarios.id }}</th>
                                    <td>{{ reg_usuarios.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_usuarios.nombre_registrado }}</td>
                                    {% if reg_usuarios.rol_registrado == 1 %}
                                        <td>
                                            <span class="badge badge-pill badge-info">MESA DE AYUDA</span>
                                        </td>
                                    {% endif %}

                                    {% if reg_usuarios.rol_registrado == 2 %}
                                        <td>
                                            <span class="badge badge-pill badge-success">LIQUIDADOR </span>
                                        </td>
                                    {% endif %}

                                    {% if reg_usuarios.rol_registrado == 3 %}
                                        <td>
                                            <span class="badge badge-pill badge-danger">PERSONAL TALLER </span>
                                        </td>
                                    {% endif %}

                                    {% if reg_usuarios.rol_registrado == 4 %}
                                        <td>
                                            <span class="badge badge-pill badge-warning">PERSONAL GRÚA </span>
                                        </td>
                                    {% endif %}
                                    <td>{{ reg_usuarios.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_usuarios.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_usuarios.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_usuarios.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_usuarios.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Usuarios</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Grúas</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_grua" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Patente</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_gruas in reg_gruas %}
                                <tr>
                                    <th scope="row">{{ reg_gruas.id }}</th>
                                    <td>{{ reg_gruas.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_gruas.patente_grua }}</td>
                                    <td>{{ reg_gruas.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_gruas.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_gruas.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_gruas.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_gruas.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Grúas</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Servicio de Grúas</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_servicio" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Nombre Registrador</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_servicio_gruas in reg_servicio_gruas %}
                                <tr>
                                    <th scope="row">{{ reg_servicio_gruas.id }}</th>
                                    <td>{{ reg_servicio_gruas.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_servicio_gruas.nombre_servicio }}</td>
                                    <td>{{ reg_servicio_gruas.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_servicio_gruas.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_servicio_gruas.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_servicio_gruas.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_servicio_gruas.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Servicio de Grúas</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    {% endif %}

    {% if request.user.rol == '2' %}
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="text-center">
                    <h3>Bienvenido <strong>{{ request.user.primer_nombre }} {{ request.user.primer_apellido }}</strong>
                    </h3>
                    <a class="text-decoration-none" href="javascript:void(0)">{{ request.user.email }}</a>
                    <hr>
                    <span>Última conexión: {{ request.user.last_login }}</span>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-body">
                <div class="text-center">
                    <h3>Tablas de Registros</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Tipos de Plan</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_tipo_plan"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_tipo_plan in reg_tipo_plan %}
                                <tr>
                                    <th scope="row">{{ reg_tipo_plan.id }}</th>
                                    <td>{{ reg_tipo_plan.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_tipo_plan.nombre }}</td>
                                    <td>{{ reg_tipo_plan.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_tipo_plan.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_tipo_plan.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_tipo_plan.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_tipo_plan.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros Tipos de Planes</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Presupuestos</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_presupuesto_liquidador"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Presupuesto</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_presupuestos_liquidador in reg_presupuestos_liquidador %}
                                <tr>
                                    <th scope="row">{{ reg_presupuestos_liquidador.id }}</th>
                                    <td>{{ reg_presupuestos_liquidador.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_presupuestos_liquidador.nro_presupuesto }}</td>
                                    <td>{{ reg_presupuestos_liquidador.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_presupuestos_liquidador.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_presupuestos_liquidador.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_presupuestos_liquidador.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_presupuestos_liquidador.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Presupuestos</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <div class="row justify-content-center mx-5">
            <div class="card shadow mb-4 col-12">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Siniestros</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_siniestro"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Siniestro</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_siniestros in reg_siniestros %}
                                <tr>
                                    <th scope="row">{{ reg_siniestros.id }}</th>
                                    <td>{{ reg_siniestros.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_siniestros.id_siniestro }}</td>
                                    <td>{{ reg_siniestros.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_siniestros.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_siniestros.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_siniestros.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_siniestros.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Siniestros</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    {% endif %}

    {% if  request.user.rol == '3' %}
        <div class="card shadow mb-2">
            <!-- <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Home</h6>
            </div> -->
            <div class="card-body">
                <div class="text-center">
                    <h3>Bienvenido <strong>{{ request.user.primer_nombre }} {{ request.user.primer_apellido }}</strong>
                    </h3>
                    <a class="text-decoration-none" href="javascript:void(0)">{{ request.user.email }}</a>
                    <hr>
                    <span>Última conexión: {{ request.user.last_login }}</span>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-body">
                <div class="text-center">
                    <h3>Tablas de Registros</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Actas de Recepción</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_acta_recepcion"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Acta</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_actas_recepcion in reg_actas_recepcion %}
                                <tr>
                                    <th scope="row">{{ reg_actas_recepcion.id }}</th>
                                    <td>{{ reg_actas_recepcion.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_actas_recepcion.id_acta }}</td>
                                    <td>{{ reg_actas_recepcion.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_actas_recepcion.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_actas_recepcion.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_actas_recepcion.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_actas_recepcion.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Actas de Recepción</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Actas de Retiro</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_acta_retiro"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Acta</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_actas_retiro in reg_actas_retiro %}
                                <tr>
                                    <th scope="row">{{ reg_actas_retiro.id }}</th>
                                    <td>{{ reg_actas_retiro.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_actas_retiro.id_acta }}</td>
                                    <td>{{ reg_actas_retiro.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_actas_retiro.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_actas_retiro.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_actas_retiro.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_actas_retiro.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Actas de Retiro</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Actas de Rechazo</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_acta_rechazo"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Acta</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_actas_rechazo in reg_actas_rechazo %}
                                <tr>
                                    <th scope="row">{{ reg_actas_rechazo.id }}</th>
                                    <td>{{ reg_actas_rechazo.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_actas_rechazo.id_acta }}</td>
                                    <td>{{ reg_actas_rechazo.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_actas_rechazo.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_actas_rechazo.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_actas_rechazo.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_actas_rechazo.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Actas de Rechazo</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Informes de Daño</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_informes_dano"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Informe</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_informes in reg_informes %}
                                <tr>
                                    <th scope="row">{{ reg_informes.id }}</th>
                                    <td>{{ reg_informes.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_informes.id_informe }}</td>
                                    <td>{{ reg_informes.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_informes.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_informes.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_informes.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_informes.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Informes de Daños</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mx-1">
            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Presupuestos</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_presupuesto"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Presupuesto</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_presupuestos in reg_presupuestos %}
                                <tr>
                                    <th scope="row">{{ reg_presupuestos.id }}</th>
                                    <td>{{ reg_presupuestos.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_presupuestos.nro_presupuesto }}</td>
                                    <td>{{ reg_presupuestos.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_presupuestos.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_presupuestos.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_presupuestos.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_presupuestos.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Presupuestos</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 col-12 col-md-12 col-lg-5">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Siniestros</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" id="table_reg_siniestro_taller"
                               width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">N° Registro</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Número Siniestro</th>
                                <th scope="col">Nombre Usuario</th>
                                <th scope="col">Proceso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg_siniestros_taller in reg_siniestros_taller %}
                                <tr>
                                    <th scope="row">{{ reg_siniestros_taller.id }}</th>
                                    <td>{{ reg_siniestros_taller.fecha_hora | date:'Y-m-d h:m:s a' }}</td>
                                    <td>{{ reg_siniestros_taller.id_siniestro }}</td>
                                    <td>{{ reg_siniestros_taller.usuario_rut_usuario.primer_nombre }}
                                        {{ reg_siniestros_taller.usuario_rut_usuario.segundo_nombre }}
                                        {{ reg_siniestros_taller.usuario_rut_usuario.primer_apellido }}
                                        {{ reg_siniestros_taller.usuario_rut_usuario.segundo_apellido }}</td>
                                    <td>{{ reg_siniestros_taller.accion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay Registros de Siniestros</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if  request.user.rol == '4' %}
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="text-center">
                    <h2>Es usuario de Personal de Grúa , por favor inicie sesión dedes app de escritorio.</h2>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}