{% extends "dashboard/base.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-end mb-4">
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="" data-target="">
        <i class="fas fa-file-invoice"></i> Registrar Póliza</a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pólizas</h6>
    </div>
    <div class="card-body text-center">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Vigente</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha FIn</th>
                        <th scope="col">RUT Asegurado</th>
                        <th scope="col">Vehículo Asegurado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for polizas in polizas %}
                    <tr>
                        <td>{{polizas.id_poliza}}</td>
                        {% if polizas.vigente == '1' %}
                             <td>SÍ</td>
                        {% else %}
                             <td>NO</td>
                        {% endif %}
                        <td>{{polizas.fecha_inicio}}</td>
                        <td>{{polizas.fecha_fin}}</td>
                        <td>{{polizas.asegurado_rut_asegurado.rut_asegurado}}</td>
                        <td>{{polizas.vehiculo_patente_vehiculo}}</td>
                        <td>
                            <div class="dropdown">
                                <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Editar Póliza</a>
                                    <a class="dropdown-item" href="#">Finalizar Póliza</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}