{% extends "dashboard/base.html" %}
{% block title %}Talleres Inactivos{% endblock title %}
{% block content %}
<div class="d-flex justify-content-start mb-4">
    <div class="text-center">
        <a class="text-decoration-none" href="{% url 'taller' %}">
            <i class="fas fa-arrow-circle-left"></i> Volver
        </a>
    </div>
</div>

<!--  Tabla para listar taller  -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Taller Inactivos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" id="table_taller_disabled" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">N° Taller</th>
                        <th scope="col">Nombre Taller</th>
                        <th scope="col">N° Teléfono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Capacidad Taller</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% include "dashboard/talleres/taller_disabled_2.html" %}
                </tbody>

            </table>
        </div>

        <!-- Modal Registro Taller -->
        <div class="modal fade" id="modal_taller_disabled" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}