<form action="" class="update_form_taller" method="POST" data-url="{% url 'taller_update' form.instance.id_taller %}">
    {% csrf_token %}

    <div class="modal-header bg-primary">
        <h5 class="modal-title text-light">Modificar taller</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>N° TALLER</span>
                </div>
                {{ form.id_taller }}
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>NOMBRE </span>
                </div>
                {{ form.nombre }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>RAZÓN SOCIAL</span>
                </div>
                {{ form.razon_social }}
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>TELÉFONO</span>
                </div>
                {{ form.telefono }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>CORREO</span>
                </div>
                {{ form.correo }}
            </div>
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>CAPACIDAD</span>
                </div>
                {{ form.capacidad_taller }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>ESTADO</span>
                </div>
                {{ form.estado }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <div class="col-form-label">
                    <span>RUT USUARIO</span>
                </div>
                {{ form.usuario_rut_usuario }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-primary">Modificar</button>
    </div>
</form>

