<form action="" class="aprobar_form_presupuesto" method="POST"
      data-url="{% url 'aprobar_presupuesto' form.instance.id %}">
    {% csrf_token %}

    <div class="modal-header bg-success">
        <h5 class="modal-title text-light">Aprobar Presupuesto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12 text-center">
                <h4>¿Seguro que deseas aprobar el Presupuesto n° <strong>{{ form.instance.id }}</strong>?</h4>
                {{ form.estado_id_est_presupuesto }}
                <br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" id="btn_aprobar">Aprobar</button>
    </div>
</form>
