{% extends "dashboard/base.html" %}
{% block title %}Módulo Reportes{% endblock title %}
{% block content %}

    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="text-center">
                <h3>Polizas</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-4 col-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_poliza_reporte" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">N° Póliza</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Término</th>
                            <th scope="col">RUT Asegurado</th>
                            <th scope="col">Patente Vehículo</th>
                            {% if  request.user.is_staff %}
                                <th scope="col">Opciones</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for polizas in polizas %}
                            <tr>
                                <th scope="row">{{ polizas.id }}</th>
                                {% if polizas.vigente == '1' %}
                                    <td>
                                        <span class="badge badge-pill badge-success">VIGENTE</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span class="badge badge-pill badge-danger">NO VIGENTE</span>
                                    </td>
                                {% endif %}
                                <td>{{ polizas.fecha_inicio | date:'d-m-Y' }}</td>
                                <td>{{ polizas.fecha_fin | date:'d-m-Y' }}</td>
                                <td>{{ polizas.asegurado_rut_asegurado.rut_asegurado }}</td>
                                <td>{{ polizas.vehiculo_patente_vehiculo }}</td>
                                {% if request.user.is_staff %}
                                    <td>
                                        <div class="dropdown">
                                            <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                               role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="navbarDropdown">
                                                <a href="{% url 'PolizaViewPdf' pk=polizas.id %}"
                                                   target="_blank">
                                                    <button class="dropdown-item">
                                                        Visualizar Polizas
                                                    </button>
                                                </a>
                                                <a href="{% url 'PolizaPdf' pk=polizas.id %}"
                                                   target="_blank">
                                                    <button class="dropdown-item">
                                                        Exportar PDF
                                                    </button>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">No hay pólizas</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="text-center">
                <h3>Actas</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-4 col-12">
            <div class="card-body">
                <div class="text-center">
                    <h5>Recepción</h5>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_acta_recepcion" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">ID Acta</th>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">N° Siniestro</th>
                            <th scope="col">Taller</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actas in actas_recepcion %}
                            <tr>
                                <th scope="row">{{ actas.id }}</th>
                                <td>{{ actas.fecha_hora | date:'d-m-Y' }}</td>
                                <td>{{ actas.siniestro_id }}</td>
                                <td>{{ actas.taller_id_taller }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{% url 'actaRecepcionViewPdf' pk=actas.siniestro_id %}"
                                               target="_blank">
                                                <button class="dropdown-item">
                                                    Visualizar Acta
                                                </button>
                                            </a>
                                            <a href="{% url 'actaRecepcionViewPdf' pk=actas.siniestro_id %}"
                                               target="_blank">
                                                <button class="dropdown-item">
                                                    Visualizar Acta
                                                </button>
                                            </a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No hay actas</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-4 col-12">
            <div class="card-body">
                <div class="text-center">
                    <h5>Retiro</h5>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_acta_retiro" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">ID Acta</th>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">N° Siniestro</th>
                            <th scope="col">Taller</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actas in actas_retiro %}
                            <tr>
                                <th scope="row">{{ actas.id }}</th>
                                <td>{{ actas.fecha_hora | date:'d-m-Y' }}</td>
                                <td>{{ actas.siniestro_id }}</td>
                                <td>{{ actas.taller_id_taller }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{% url 'actaRetiroViewPdf' pk=actas.siniestro_id %}"
                                               target="_blank">
                                                <button class="dropdown-item">
                                                    Visualizar Acta
                                                </button>
                                            </a>
                                            <a href="{% url 'actaRetiroPdf' pk=actas.siniestro_id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Exportar PDF
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No hay actas</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-5 col-12">
            <div class="card-body">
                <div class="text-center">
                    <h5>Rechazo</h5>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_acta_rechazo" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">ID Acta</th>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">N° Siniestro</th>
                            <th scope="col">Taller</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actas in actas_rechazo %}
                            <tr>
                                <th scope="row">{{ actas.id }}</th>
                                <td>{{ actas.fecha_hora | date:'d-m-Y' }}</td>
                                <td>{{ actas.siniestro_id }}</td>
                                <td>{{ actas.taller_id_taller }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{% url 'actaRechazoViewPdf' pk=actas.siniestro_id %}"
                                               target="_blank">
                                                <button class="dropdown-item">
                                                    Visualizar Acta
                                                </button>
                                            </a>
                                            <a href="{% url 'actaRechazoPdf' pk=actas.siniestro_id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Exportar PDF
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No hay actas</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>

    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="text-center">
                <h3>Informes de Daños</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-5 col-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_acta_recepcion" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">ID Informe</th>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">N° Siniestro</th>
                            <th scope="col">Patente Vehículo</th>
                            <th scope="col">Severidad de Daño</th>
                            <th scope="col">Tipo de Daño</th>
                            <th scope="col">Taller</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for info in informes_dano %}
                            <tr>
                                <th scope="row">{{ info.id }}</th>
                                <td>{{ info.fecha_hora | date:'d-m-Y' }}</td>
                                <td>{{ info.siniestro_id }}</td>
                                <td>{{ info.vehiculo_patente_vehiculo }}</td>
                                <td>{{ info.severidad_dano_id_seve_dano }}</td>
                                <td>{{ info.tipo_dano_id_tipo_dano }}</td>
                                <td>{{ info.taller_id_taller }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{% url 'informeDanoViewPdf' pk=info.id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Visualizar Acta
                                                </button>
                                            </a>
                                            <a href="{% url 'informeDanoPdf' pk=info.id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Exportar PDF
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No hay Informes de Daño</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="text-center">
                <h3>Presupuestos</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mx-5">
        <div class="card shadow mb-5 col-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="table_presupuesto" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Valor Total</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for presupuestos in presupuestos %}
                            <tr>
                                <th scope="row">{{ presupuestos.id }}</th>
                                <td>{{ presupuestos.fecha_hora | date:'d-m-Y' }}</td>
                                <td><strong>$</strong>{{ presupuestos.valor_total }}</td>
                                {% if presupuestos.estado_id_est_presupuesto.id == 3 %}
                                    <td>
                                        <span class="badge badge-pill badge-info">{{ presupuestos.estado_id_est_presupuesto }}</span>
                                    </td>
                                {% endif %}
                                {% if presupuestos.estado_id_est_presupuesto.id == 2 %}
                                    <td>
                                        <span class="badge badge-pill badge-danger">{{ presupuestos.estado_id_est_presupuesto }}</span>
                                    </td>
                                {% endif %}
                                {% if presupuestos.estado_id_est_presupuesto.id == 1 %}
                                    <td>
                                        <span class="badge badge-pill badge-success">{{ presupuestos.estado_id_est_presupuesto }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    <div class="dropdown">
                                        <a class="text-dark btn btn-light btn-sm" href="#" id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{% url 'PresupuestoViewPdf' pk=presupuestos.id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Detalles Presupuesto
                                                </button>
                                            </a>
                                            <a href="{% url 'PresupuestoPdf' pk=presupuestos.id %}" target="_blank">
                                                <button class="dropdown-item">
                                                    Exportar PDF
                                                </button>
                                            </a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9" class="text-center">No hay siniestros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}