{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'dashboard/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dashboard/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/style2.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'dashboard/img/seguro-icon.png' %}" width="30" height="30"
                        class="d-inline-block align-top" alt="">
                    <span class="text-light">
                        Seguros Virgolini
                    </span>
                </a>

            </nav>
        </div>
    </div>
    {% block content %} {% endblock content %}
    {% block script %} {% endblock script %}


    <script src="{% static 'dashboard/js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>