{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
    <title>Seguro Automotriz</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row bg-info">
            <div class="col">
                <div class="navbar">
                    <div class="navbar-brand">
                        <img src="{% static 'registration/img/seguro-icon.png' %}" alt="Logo" width="40" height="40" />
                        <span class="d-inline-block text-light">Seguros Virgolini</span>
                    </div>
                </div>
            </div>
        </div>
        {% block content %} {% endblock content %}
    </div>
</body>

</html>