{% extends "registration/base.html" %}

{% block content %}
<div class="row justify-content-center mt-4" id="">
    <div class="card shadow-sm mt-5">
        <div class="card-body">
            <div class="text-center mt-4 mb-4">
                <h5 class="card-title">Inicia Sesión</h5>
                <div class="card-text">Ingresa tus datos para comenzar</div>
            </div>
            <hr>
            <div class="mx-5 clearfix">
                <form action="" method="post">{% csrf_token %}
                    <div class="mensajes">
                        {% if form.non_field_errors %}
                        <p style="color: rgb(219, 69, 69);"><b>Usuario o Contraseña incorrectos , prueba denuevo.</b></p>
                        {% endif %}
                    </div>

                    <div class="mensajes">
                        {% if 'register' in request.GET %}
                        <p style="color: rgb(67, 207, 67);"><b>Usuario registrado correctamente !</b></p>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="col-form-label">
                            <strong>RUT</strong>
                        </div>
                        <input type="text" class="form-control required" placeholder="Ingresa rut" name="username">

                    </div>
                    <div class="form-group">
                        <div class="col-form-label">
                            <strong>CONTRASEÑA</strong>
                        </div>
                        <input type="password" class="form-control required" placeholder="Contraseña" name="password">

                    </div>
                    <div class="float-left mr-4 my-4">
                        <a class="btn btn-info" href="{% url 'asegurado_consulta' %}">
                            ¿Eres cliente? Click aquí
                        </a>
                    </div>
                    <div class="float-right mr-4 my-4">
                        <input type="submit" value="Entrar" class="btn btn-block btn-primary">
                    </div>
                    <!-- <p><small>¿Haz olvidado tu contraseña?, presiona <a href="{% url 'password_reset' %}"><strong>aquí</strong></a> para restaurarla</small></p>    -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}