{% extends "registration/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="row justify-content-center mt-4" id="">
    <div class="card shadow-sm mt-5">
        <div class="card-header">
            <div class="text-center my-2">
                <h3 class="card-title">Inicia Sesión</h3>
                <div class="card-text">Ingresa tus datos para comenzar</div>
            </div>
        </div>

        <div class="card-body">
            <div class="mx-5 clearfix">
                <form action="" method="POST" class="needs-validation">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-form-label">
                            <strong>RUT</strong>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresa rut" name="username" id="rut_user"
                            required oninput="checkRut(this)" pattern="^[0-9]{7,9}[-|‐]{1}[0-9kK]{1}$" maxlength="10">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback" id="error_rut"></div>

                    </div>
                    <div class="form-group">
                        <div class="col-form-label">
                            <strong>CONTRASEÑA</strong>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" id="pass"
                            required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback" id="error_pass"></div>
                        <div class="mt-1">
                            {% if form.non_field_errors %}
                            <span style="color: #e74a3b;">Rut o contraseña incorrectos, intenta
                                nuevamente</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="float-left mr-4 my-4">
                        <a class="btn btn-warning" href="{% url 'asegurado_consulta' %}">
                            Acceso Clientes
                        </a>
                    </div>
                    <div class="float-right mr-4 my-4">
                        <button type="submit" class="btn btn-block btn-primary shadow-sm" id="login_btn">Entrar</button>
                    </div>
                    <!-- <p><small>¿Haz olvidado tu contraseña?, presiona <a href="{% url 'password_reset' %}"><strong>aquí</strong></a> para restaurarla</small></p>    -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    window.onload = iniciar();

    function iniciar() {
        document.getElementById("login_btn").addEventListener('click', validar, false);
        document.getElementById("rut_user").addEventListener('keyup', validaRut);
        document.getElementById("pass").addEventListener('keyup', validaPass);
    }

    function validaRut() {
        var elemento = document.getElementById("rut_user");
        if (!elemento.checkValidity()) {
            if (elemento.validity.valueMissing) {
                error_rut(elemento, "Debe introducir un Rut");
            }
            if (elemento.validity.patternMismatch) {
                error_rut(elemento, "Debe ingresar un Rut válido");
            }
            return false;
        }
        clear_error_rut(elemento);
        return true;

    }

    function error_rut(elemento, mensaje) {
        document.getElementById("error_rut").innerHTML = mensaje;
        elemento.className = "form-control is-invalid";
    }

    function clear_error_rut(elemento) {
        document.getElementById("error_rut").innerHTML = "";
        elemento.className = "form-control is-valid";
    }


    function validaPass() {
        var elemento = document.getElementById("pass");
        if (!elemento.checkValidity()) {
            if (elemento.validity.valueMissing) {
                error_pass(elemento, "Debe introducir una contraseña");
            }
            return false;
        }
        clear_error_pass(elemento);
        return true;

    }

    function error_pass(elemento, mensaje) {
        document.getElementById("error_pass").innerHTML = mensaje;
        elemento.className = "form-control is-invalid";
    }

    function clear_error_pass(elemento) {
        document.getElementById("error_pass").innerHTML = "";
        elemento.className = "form-control is-valid";
    }

    function validar(e) {
        if (validaRut() && validaPass()) {
            return true
        } else {
            e.preventDefault();
            return false;
        }
    }
</script>

<script src="{% static 'dashboard/js/formato_rut.js' %}"></script>
{% endblock script %}