{% extends "registration/base.html" %}

{% block content %}
<div class="col-12" id="">
    <div class="d-flex justify-content-center">          
        <form class="prop_detail mt-3 mb-5 p-4 bg-dark"  action="" method="post">{% csrf_token %}
            <div class="col-12 prop_detail bg-dark ">
                <div class="d-flex justify-content-center">
                    <h1>Bienvenido</h1>
                </div>
            </div>
            <div class="mensajes">
                {% if form.non_field_errors %}
                    <p style="color: red;"><b>Usuario o Contraseña incorrectos , prueba denuevo.</b></p>
                {% endif %}
            </div>
            
            <div class="mensajes">
                {% if 'register' in request.GET %}
                    <p style="color: green;"><b>Usuario registrado correctamente !</b></p>
                {% endif %}
            </div>
            
            <hr>
            <input type="text" class="form-control required" placeholder="Nombre de Usuario" name="username">
            <input type="password" class="form-control required" placeholder="Contraseña" name="password">
            <br>
            <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-danger">
            <hr>
            <!-- <p><small>¿Haz olvidado tu contraseña?, presiona <a href="{% url 'password_reset' %}"><strong>aquí</strong></a> para restaurarla</small></p>    -->
        </form>           
    </div>
</div>
{% endblock %}